{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "mocha"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:mocha/recommended"
    ],
    "rules": {
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/explicit-module-boundary-types": 0,
        "@typescript-eslint/triple-slash-reference": 0,
        "mocha/no-mocha-arrows": 0,
        "mocha/no-setup-in-describe": 0,
        "mocha/no-hooks-for-single-case": 0,
        "mocha/no-top-level-hooks": 0,
        "mocha/no-exclusive-tests": "error",
        "mocha/no-skipped-tests": "error",
        "mocha/valid-suite-description": [
            "error",
            {
                "pattern": "^when",
                "suiteNames": [
                    "describe"
                ],
                "message": "'describe' block descriptions must start with a lowercase 'when'"
            }
        ],
        "mocha/valid-test-description": [
            "error",
            {
                "pattern": "^should",
                "testNames": [
                    "it"
                ],
                "message": "'it' block descriptions must start with a lowercase 'should'"
            }
        ]
    }
}